<app-header></app-header>
<div class="profile-start-container">
  <div class="left-bg"></div>
  <div class="content-wrapper d-flex flex-column flex-lg-row align-items-center">
    <div class="text-box">
      <h2>You've completed your quiz</h2>
      <p>
        We really appreciate that you took the time to log the answers to this quiz
        to the console as a javascript object!
      </p>
      <button class="start-btn" (click)="goToLogin()">Take me to your leader</button>
    </div>
    <div class="image-box">
      <img src="./assets/landing-image.jpg" alt="Profile Image" class="hexagon-image">
    </div>
  </div>
</div>
<app-footer></app-footer>