<app-header></app-header>
<div class="profile-start-container">
  <div class="left-bg"></div>
  <div class="content-wrapper d-flex flex-column flex-lg-row align-items-center">
    <div class="image-box">
      <img src="./assets/landing-image.jpg" alt="Profile Image" class="hexagon-image">
    </div>
    <div class="text-box">
      <h2>Let's get started filling out your profile</h2>
      <p>
        The best way for us to get you the right kind of help is to know you as well as possible.
      </p>
      <button class="start-btn" (click)="startQuiz()">Start</button>
    </div>
  </div>
</div>
<app-footer></app-footer>